html {
    position: relative; /* Make sure the container is positioned */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100vw; 
  overflow: auto;
    background-image: url(main_bg.jpg);
}
#root{
    overflow: auto;
}
h1 {
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}
h2 {
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}
h3{
    color: #000000;
    font-family:'Courier New', Courier, monospace;
}
h4{
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}
textarea{
    font-family:'Courier New', Courier, monospace;
}
label{
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}
p{
    color: #000000;
    font-family:'Courier New', Courier, monospace;
}
button{
    background-color: #ffffff;
    color: #000000;
    font-family:'Courier New', Courier, monospace;
}
input{
    background-color: #ffffff;
    color: #000000;
    font-family:'Courier New', Courier, monospace;
}
.trip {
    background-size: cover;
    background-position: center; /* Center the image */
    background-image: url(trip_bg.jpg);
    padding: calc(0.25in + 1px); /* Adjust the padding to 1/4 inch */
}